// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWebRegular';
    src: url('/font/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/font/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/font/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/font/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('/font/lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('/font/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('/font/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('/font/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


html {
  font-family: "LatoWebRegular", "Myriad Pro", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.wrap {
  max-width: 38rem;
  padding: 0 .6rem;
  margin: 0 auto;
}

#main {
  min-height: 18rem;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

#main img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
