
// structural hierarchy of the site.


#footer {
  margin-top: 5em;
  background-color: $footer-background;
  padding: 2em 0;

  img.logo {
    width: 80px;
    display: block;
  }

  nav {
    margin: .6em 1em 0 .3em;
    width: 6em;
    float: left;

    @media (max-width: $small-break-point) {
      margin-top: 1.2rem;
      width: 100%;
    }

    &.extra {
      width: 8rem;
      margin: .6em 0 0 .3em;
      float: right;

      a {
        text-align: right;
      }

      @media (max-width: $small-break-point) {
        float: left;
        width: auto;

        a {
          text-align: left;
        }
      }
    }

    a {
      display: block;
      margin-bottom: .3em;
      font-size: 85%;
      color: $footer-color;
      white-space: nowrap;

      span {
        background-color: $footer-color;
        color: #454545;
        border-radius: 2px;
        display: inline-block;
        width: 30px;
        text-align: center;
        margin-right: 3px;
      }
    }
  }

  .current {
    text-decoration: underline;
    cursor: default;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// slogan of the day
#slogan {
  float: right;
  color: $footer-color;
  font-size: 300%;
  font-family: garamond;
  margin-top: -1rem;
}
