.footer {
  margin: 4rem 0 0;
  border-top: 0.1rem solid $paper-white;

  @include at-root('body.dark') {
    border-top-color: $light-carbon-grey;
  }

  @include mq($from: 'mobile') {
    padding: 1.2rem 0 1.2rem;
  }

  @include mq($until: 'mobile') {
    padding: 0.6rem 0 1.2rem;
  }

  .logo {
    display: flex;
    margin-bottom: 1.2rem;

    img {
      width: 12rem;
    }
  }

  .menu, .extra {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        a {
          display: inline-block;
          font-size: ms(0.4)
        }
      }
    }
  }

  .menu {
    margin-top: 1.6rem;

    ul {
      li {
        a {
          padding: 0.4rem 0;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

  .extra {
    display: flex;
    margin-top: 1.6rem;

    @include mq($from: 'mobile') {
      justify-content: flex-end;
      text-align: right;
    }

    @include mq($until: 'mobile') {
      padding: 0.6rem 0 1.2rem;
    }
  }

  .copy {
    margin-top: 1.2rem;
    color: $light-grey;

    small {
      font-size: 1.2em;
    }
  }
}