
// structural hierarchy of the site.


#footer {
  margin-top: 5em;
  background-color: #454545;
  padding: 2em 0;

  img {
    width: 80px;
    display: block;
  }

  nav {
    margin: .6em 1em 0 .3em;
    width: 6em;
    float: left;

    a {
      display: block;
      margin-bottom: .3em;
      font-size: 85%;
      color: #ccc;

      span {
        background-color: #ccc;
        color: #454545;
        border-radius: 2px;
        display: inline-block;
        width: 30px;
        text-align: center;
        margin-right: 3px;
      }
    }
  }

  .current {
    text-decoration: none;
    cursor: default;
    color: #777;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// slogan of the day
#slogan {
  float: right;
  color: #ccc;
  font-size: 300%;
  font-family: garamond;
  margin-top: -1rem;
}
