// Masthead
//
// Super small header above the content for site name and short description.

#header {
  padding: .6rem 0 4em;
  position: relative;
  z-index: 1;
  float: left;
  clear: both;
  width: 100%;

  @media (max-width: $small-break-point) {
    padding-bottom: 2rem;
  }
}

#logo {

  @media (max-width: $small-break-point) {
    width: 100%;
    display: inline-block;
  }

  #riot-logo {
    width: 80px;
    float: left;

    @media (max-width: $small-break-point) {
      float: none;
    }
  }
}



#logo strong {
  font-weight: normal;
  color: #999;
  font-size: 70%;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

#muut-logo {
  width: 50px
}

#nav {
  font-size: 80%;
  line-height: 3;
  float: left;

  a {
    margin-left: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }

  .current {
    @extend .tag;
    text-decoration: none;
    cursor: default;
  }

  @media (max-width: $small-break-point) {
    margin: 0.5rem 0 1.5rem;
    line-height: 2.4;
    font-size: 80%;
    float: left;
    width: 100%;

    a {
      display: inline-block;
      box-sizing: border-box;
      float: left;
      clear: both;
      margin: 0.2rem 0;
    }
  }
}

#current-lang {
  border-radius: 3px;
  padding: 4px;

  &::after {
    margin-left: 2px;
    content: "\25BE"
  }

  &:hover {
    background-color: #eee;
    text-decoration: none;
  }
}

#search {
  float: right;
  padding: 4px 0;

  @media (max-width: $small-break-point) {
    float: left;
  }

  > label {
    vertical-align: middle;
    display: inline-block;
    font-size: 80%;
    color: #999;
  }

  > .input-wrapper {
    display: inline-block;
    vertical-align: middle;

    input {
      padding: 10px;
      border: none;
      box-sizing: border-box;
      background: $seach-background;

      &:focus {
        box-shadow: 0 0 0 1px darken($seach-background, 10%) inset;
        background: white;
      }
    }
  }
}

#langs {
  display: none;

  clear: both;
  background: white;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  padding: 6px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);

  width: auto;
  font-size: 70%;
  position: absolute;
  right: 0;

  a {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 20px 5px 15px;
    color: #999;
    &:hover {
      text-decoration: none;
      background-color: #e9e9e9;
    }
  }
  a > span {
    color: white;
    background: #408bc2;
    display: inline-block;
    width: 2.5em;
    text-align: center;
    border-radius: 3px;
    margin-right: .5em;
  }

  @media (max-width: $small-break-point) {
    width: 100%;
    font-size: 90%;
    position: relative;
  }

  &.open {
    display: block;
  }
}
