// Masthead
//
// Super small header above the content for site name and short description.

#header {
  padding: .6rem 0;
}

#riot-logo {
  width: 50px;
  float: left
}

#logo strong {
  font-weight: normal;
  color: #999;
  font-size: 70%;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

#muut-logo {
  width: 50px
}

#nav {
  float: right;
  font-size: 70%;
  line-height: 2;

  a {
    margin-left: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }

  .current {
    background-color: #fc0e49;
    padding: .3em .6em;
    color: #fff;
    text-decoration: none;
    cursor: default;
    border-radius: 2px;
  }
}