$comment:           #667;
$comment-multi:     #3F7E3E;
$comment-preproc:   #099;
$error:             #2f6f9f;
$error-generic:     #c00;
$header-generic:    #030;
$keyword:           #069;
$keyword-type:      #078;
$name-attr:         #0184BC;
$name-builtin:      #366;
$name-class:        #986801;
$name-const:        #360;
$name-exception:    #c00;
$name-function:     #c0f;
$name-label:        #46c;
$name-namespace:    #0184BC;
$name-tag:          #A626A4;
$name-variable:     #033;
$num-lit:           #f60;
$operator:          #555;
$operator-word:     #000;
$output-generic:    #353535;
$prompt:            #009;
$str-lit:           #c30;
$str-lit-interp:    #a00;
$str-regex:         #3aa;
$str-symbol:        #fc3;
$text-whitespace:   #777;
$traceback:         #9c6;

div.highlight {
  margin: 1.8rem 0 2.2rem;
  line-height: 1.4;
  background-color: #f9f9f9;
  border-radius: $border-radius;
  overflow-x: auto;
  display: flex;
}

pre.highlight {
  margin: 0;
  padding: 1.6rem;
}




.highlight *::-moz-selection { background: rgba(220, 220, 255, .5);  }
.highlight *::selection { background: rgba(220, 220, 255, .5);  }

.highlight .hll { background-color: #ffc; }
.highlight .c { color: $comment; } /* Comment */
.highlight .err, .highlight .s { color: $error; } /* Error */
.highlight .k { color: $keyword; } /* Keyword */
.highlight .o { color: $operator; } /* Operator */
.highlight .cm { color: $comment-multi; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $comment-preproc; } /* Comment.Preproc */
.highlight .c1 { color: $comment; } /* Comment.Single */
.highlight .cs { color: $comment; } /* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid $name-exception; } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $error-generic; } /* Generic.Error */
.highlight .gh { color: $header-generic; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: $output-generic; } /* Generic.Output */
.highlight .gp { color: $prompt; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: $header-generic; } /* Generic.Subheading */
.highlight .gt { color: $traceback; } /* Generic.Traceback */
.highlight .kc { color: $keyword; } /* Keyword.Constant */
.highlight .kd { color: $keyword; } /* Keyword.Declaration */
.highlight .kn { color: $keyword; } /* Keyword.Namespace */
.highlight .kp { color: $keyword; } /* Keyword.Pseudo */
.highlight .kr { color: $keyword; } /* Keyword.Reserved */
.highlight .kt { color: $keyword-type; } /* Keyword.Type */
.highlight .m { color: $num-lit; } /* Literal.Number */
.highlight .na { color: $name-attr; } /* Name.Attribute */
.highlight .nb { color: $name-builtin; } /* Name.Builtin */
.highlight .nc { color: $name-class; } /* Name.Class */
.highlight .no { color: $name-const; } /* Name.Constant */
.highlight .nd { color: $name-label; } /* Name.Decorator */
.highlight .ni { color: $comment; } /* Name.Entity */
.highlight .ne { color: $name-exception; } /* Name.Exception */
.highlight .nf { color: $name-function; } /* Name.Function */
.highlight .nl { color: $name-label; } /* Name.Label */
.highlight .nn { color: $name-namespace; } /* Name.Namespace */
.highlight .nt { color: $name-tag; } /* Name.Tag */
.highlight .nv { color: $name-variable; } /* Name.Variable */
.highlight .ow { color: $operator-word; } /* Operator.Word */
.highlight .w { color: $text-whitespace; } /* Text.Whitespace */
.highlight .mf { color: $num-lit; } /* Literal.Number.Float */
.highlight .mh { color: $num-lit; } /* Literal.Number.Hex */
.highlight .mi { color: $num-lit; } /* Literal.Number.Integer */
.highlight .mo { color: $num-lit; } /* Literal.Number.Oct */
.highlight .sb { color: $str-lit; } /* Literal.String.Backtick */
.highlight .sc { color: $str-lit; } /* Literal.String.Char */
.highlight .sd { color: $str-lit; font-style: italic; } /* Literal.String.Doc */
.highlight .s2 { color: $str-lit; } /* Literal.String.Double */
.highlight .se { color: $str-lit; } /* Literal.String.Escape */
.highlight .sh { color: $str-lit; } /* Literal.String.Heredoc */
.highlight .si { color: $str-lit-interp; } /* Literal.String.Interpol */
.highlight .sx { color: $str-lit; } /* Literal.String.Other */
.highlight .sr { color: $str-regex; } /* Literal.String.Regex */
.highlight .s1 { color: $str-lit; } /* Literal.String.Single */
.highlight .ss { color: $str-symbol; } /* Literal.String.Symbol */
.highlight .bp { color: $name-builtin; } /* Name.Builtin.Pseudo */
.highlight .vc { color: $name-variable; } /* Name.Variable.Class */
.highlight .vg { color: $name-variable; } /* Name.Variable.Global */
.highlight .vi { color: $name-variable; } /* Name.Variable.Instance */
.highlight .il { color: $num-lit; } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }


@include at-root('body.dark') {
/*! Base16 Default Dark by Chris Kempson; https://github.com/idleberg */
  .highlight { background-color: #151515; }
  .highlight, .highlight pre, .highlight table { background: #151515; color: #f5f5f5 }
  .highlight .hll { background-color: #303030 }
  .highlight .c { color: #505050 } /* Comment */
  .highlight .err { color: #ac4142 } /* Error */
  .highlight .k { color: #aa759f } /* Keyword */
  .highlight .l { color: #d28445 } /* Literal */
  .highlight .n, .highlight .h { color: #f5f5f5 } /* Name */
  .highlight .o { color: #75b5aa } /* Operator */
  .highlight .p { color: #f5f5f5 } /* Punctuation */
  .highlight .cm { color: #505050 } /* Comment.Multiline */
  .highlight .cp { color: #505050 } /* Comment.Preproc */
  .highlight .c1 { color: #505050 } /* Comment.Single */
  .highlight .cs { color: #505050 } /* Comment.Special */
  .highlight .gd { color: #ac4142 } /* Generic.Deleted */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gh { color: #f5f5f5; font-weight: bold } /* Generic.Heading */
  .highlight .gi { color: #90a959 } /* Generic.Inserted */
  .highlight .gp { color: #505050; font-weight: bold } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #75b5aa; font-weight: bold } /* Generic.Subheading */
  .highlight .kc { color: #aa759f } /* Keyword.Constant */
  .highlight .kd { color: #aa759f } /* Keyword.Declaration */
  .highlight .kn { color: #75b5aa } /* Keyword.Namespace */
  .highlight .kp { color: #aa759f } /* Keyword.Pseudo */
  .highlight .kr { color: #aa759f } /* Keyword.Reserved */
  .highlight .kt { color: #f4bf75 } /* Keyword.Type */
  .highlight .ld { color: #90a959 } /* Literal.Date */
  .highlight .m { color: #d28445 } /* Literal.Number */
  .highlight .s { color: #90a959 } /* Literal.String */
  .highlight .na { color: #6a9fb5 } /* Name.Attribute */
  .highlight .nb { color: #f5f5f5 } /* Name.Builtin */
  .highlight .nc { color: #f4bf75 } /* Name.Class */
  .highlight .no { color: #ac4142 } /* Name.Constant */
  .highlight .nd { color: #75b5aa } /* Name.Decorator */
  .highlight .ni { color: #f5f5f5 } /* Name.Entity */
  .highlight .ne { color: #ac4142 } /* Name.Exception */
  .highlight .nf { color: #6a9fb5 } /* Name.Function */
  .highlight .nl { color: #f5f5f5 } /* Name.Label */
  .highlight .nn { color: #f4bf75 } /* Name.Namespace */
  .highlight .nx { color: #6a9fb5 } /* Name.Other */
  .highlight .py { color: #f5f5f5 } /* Name.Property */
  .highlight .nt { color: #75b5aa } /* Name.Tag */
  .highlight .nv { color: #ac4142 } /* Name.Variable */
  .highlight .ow { color: #75b5aa } /* Operator.Word */
  .highlight .w { color: #f5f5f5 } /* Text.Whitespace */
  .highlight .mf { color: #d28445 } /* Literal.Number.Float */
  .highlight .mh { color: #d28445 } /* Literal.Number.Hex */
  .highlight .mi { color: #d28445 } /* Literal.Number.Integer */
  .highlight .mo { color: #d28445 } /* Literal.Number.Oct */
  .highlight .sb { color: #90a959 } /* Literal.String.Backtick */
  .highlight .sc { color: #f5f5f5 } /* Literal.String.Char */
  .highlight .sd { color: #505050 } /* Literal.String.Doc */
  .highlight .s2 { color: #90a959 } /* Literal.String.Double */
  .highlight .se { color: #d28445 } /* Literal.String.Escape */
  .highlight .sh { color: #90a959 } /* Literal.String.Heredoc */
  .highlight .si { color: #d28445 } /* Literal.String.Interpol */
  .highlight .sx { color: #90a959 } /* Literal.String.Other */
  .highlight .sr { color: #90a959 } /* Literal.String.Regex */
  .highlight .s1 { color: #90a959 } /* Literal.String.Single */
  .highlight .ss { color: #90a959 } /* Literal.String.Symbol */
  .highlight .bp { color: #f5f5f5 } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #ac4142 } /* Name.Variable.Class */
  .highlight .vg { color: #ac4142 } /* Name.Variable.Global */
  .highlight .vi { color: #ac4142 } /* Name.Variable.Instance */
  .highlight .il { color: #d28445 } /* Literal.Number.Integer.Long */
}
