.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner {
  svg {
    fill:#fc0e49;
    color:#fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
  }
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0);
  }

  20%,60% {
    transform: rotate(-25deg);
  }

  40%,80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

// hero
#hero {
  text-align: center;
  margin: 2em -5em 4em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 3em;

  img {
    display: inline-block;
    width: 180px;
  }

  h1 {
    margin: -.4em 0 -.2em;
    font-size: 230%;
    font-family: LatoWebLight;
    color: #777;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    font-size: 90%;
  }

  + h1 {
    font-size: 1.8rem;
  }

  @media (max-width: 700px) {
    margin-left: 0;
    margin-right: 0;
  }
}

// on home page
#version-slurp {
  margin-top: 2em;
}

// stat bar
.bar {
  height: 5px;
  display: block;
  margin-bottom: .9em;
  border-radius: 2px;
  background-color: red;
}

// tabs
#tabs {
  border-bottom: 1px solid #ddd;

  a {
    display: inline-block;
    padding: .3em 1.2em;
    font-size: 90%;
    color: #999;

    &:hover {
      text-decoration: none;
      color: #333;
    }

    &.current {
      border-bottom: 3px solid red;
      color: #000;
      cursor: default;
    }
  }

  @media (max-width: 600px) {
    text-align: center;
    padding: 0 1em;

    a {
      padding: .3em .8em;
      margin-bottom: .8em;
    }
  }
}

// table of contents
#toc {
  font-size: 90%;

  p {
    margin: 0 0 .3em;
  }
}

// API
.apidoc h3 {
  color: #666;
  border-bottom: 1px solid red;
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding-bottom: .2em;
  font-size: 100%;
  margin-bottom: 1em;
}

// permlinking
h2, .apidoc h3 {
  cursor: pointer;

  &:hover:before {
    position: absolute;
    content: '#';
    margin-left: -.8em;
    color: #268bd2;
  }
}

.download #main p {
  margin-bottom: .5em;
}

.tag {
  background-color: lighten(#32709D, 10);
  padding: .3em .6em;
  color: #fff;
  font-weight: normal;
  border-radius: .2em;
  letter-spacing: 1px;
  margin-right: .3em;
}

.red {
  background-color: #fc0e49;
}

a.blue:hover {
  background-color: #32709D;
  text-decoration: none;
}

#release-notes h2 em {
  font-style: normal;
  color: #777;
  font-size: 80%;
  font-weight: normal;

  &:before {
    content: " — ";
  }
}

// forums
#forum-page {
  .muut {
    display: block;
  }

  .m-header {
    height: 2.4em;
  }

  .m-subnavi {
    background-color: #fff;
  }

  .m-login, .m-myname {
    color: #333;
  }

  .m-navi {
    display: none;
  }
}