<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="theme-color" content="#FF0044">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

  <title>
    {{ page.title }}{% if page.path != "index.md" %} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/favicons/apple-touch-icon.png' | prepend:site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicons/favicon-32x32.png' | prepend:site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicons/favicon-16x16.png' | prepend:site.baseurl }}">
  <link rel="manifest" href="{{ '/favicons/site.webmanifest' | prepend:site.baseurl }}">
  <link rel="mask-icon" href="{{ '/favicons/safari-pinned-tab.svg' | prepend:site.baseurl }}" color="#ed1846">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- style -->
  <link rel="stylesheet" href="{{ '/style.css' | prepend:site.baseurl }}">
</head>