<grid class="hero" columns="12">
  <c span="4-9" span-s="3-10">
    <img src="{{ '/img/logo/square.svg' | prepend:site.baseurl }}" width="100%" alt="Riot.js Logo"/>
  </c>

  <c span="row">
    <h1>Simple and elegant component-based UI library</h1>
    <p>Custom tags • Enjoyable syntax • Elegant API • Tiny size</p>
  </c>
  <c span="5-8">
    <p>
      <a target="_blank" rel="nofollow noopener" href="https://npmjs.org/package/riot">
        <img width="100" src="https://img.shields.io/npm/v/riot.svg?style=flat-square&color=ED1846" alt="Latest Riot.js Version">
      </a>
    </p>
  </c>
  <c span="row">
    <nav>
      {% include main_menu.html %}
    </nav>
  </c>
</grid>
