<div class="footer">
  <div class="container">
    <aside>
      <grid columns="12">
        <c span="6" span-s="row">
          <nav class="menu">
            <grid columns="12">
              <c class="logo" span="row">
                <a href="{{ site.baseurl }}/">
                  <img src="{{ '/img/logo/riot-logo.svg' | prepend:site.baseurl }}" alt="Riot.js Logo" />
                </a>
              </c>
              <c span="row">
                {% include ja/main_menu.html %}
              </c>
            </grid>
          </nav>
        </c>

        <c class="extra" span="6" span-s="row">
          <nav>
            <ul>
              <li>
                <a target="_blank" rel="nofollow noopener" href="{{ site.data.globals.repo }}">
                  <img title="Riot on github" src="https://img.shields.io/badge/GITHUB-REPO-fc0e49.svg?style=flat-square">
                </a>
              </li>
              <li>
                <a target="_blank" rel="nofollow noopener" href="{{ site.data.globals.legacy }}">
                  <img title="Riot v3,v2 & v1" src="https://img.shields.io/badge/RIOT-v3,v2_& v1-95171b.svg?style=flat-square">
                </a>
              </li>
              <li><a target="_blank" rel="nofollow noopener" href="{{ site.data.globals.discord }}"><img title="Join the chat at https://discord.gg/EGxw2e" src="https://img.shields.io/badge/DISCORD-JOIN_CHANNEL_%E2%86%92-7289da.svg?style=flat-square"></a></li>
              <li>
                <a target="_blank" href="{{ site.data.globals.online_compiler }}">
                  <img title="Riot.js Online Compiler" src="https://img.shields.io/badge/ONLINE-Compiler-139ad0.svg?style=flat-square">
                </a>
              </li>
              <li>
                <a target="_blank" rel="nofollow noopener" href="{{ site.data.globals.showcase }}">
                  <img title="Made With Riot" src="https://img.shields.io/badge/SHOWCASE-Made_with_riot-15c496.svg?style=flat-square">
                </a>
              </li>
              <li>
                <a target="_blank" href="{{ site.data.globals.examples }}">
                  <img title="Riot.js Examples" src="https://img.shields.io/badge/GITHUB-Examples-11d05c.svg?style=flat-square">
                </a>
              </li>
              <li>
                <a target="_blank" rel="nofollow noopener" href="https://opencollective.com/riot/">
                  <img title="Do a donation" src="https://img.shields.io/badge/DONATE-%E2%9D%A4-dbe844.svg?style=flat-square"/>
                </a>
              </li>
              <li><a target="_blank" rel="nofollow noopener" href="{{ site.data.globals.twitter_account }}"><img title="follow riot.js on twitter" src="https://img.shields.io/twitter/follow/riotjs_.svg?style=flat-square"></a></li>
            </ul>
            <ul class="languages">
              {% for language in site.data.languages %}
                <li>
                  <a href="{{ language.path }}">
                    <img title="{{language.name}}" src="https://img.shields.io/badge/Switch to-{{language.name}}-{{language.color}}.svg?style=flat-square">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </c>
      </grid>
    </aside>
    <footer class="copy">
      <small>Copyright &copy; {{ 'now' | date: "%Y" }} - Gianluca Guarini - Riot.js</small>
    </footer>
  </div>
</div>
