<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


  <!-- favicons -->
  <link rel="shortcut icon" href="/img/favicon-152x152.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152x152.png">

  <!-- RSS
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
  -->

  <!-- style -->
  <link rel="stylesheet" href="/style.css">

</head>

<body>

  <div class="container content">

    <a id="fork" href="{{ repo }}"><img src="/img/fork.png"></a>

    <header id="header">
      <span id="logo">
        <a href="/"><img id="riot-logo" src="/img/logo/riot120x.png"></a>
        <strong>by</strong>
        <a href="https://muut.com/"><img id="muut-logo" src="/img/logo/muut.png"></a>
      </span>

      <nav id="nav">
        <a href="/riotjs/compare.html">Compare</a>
        <a href="/riotjs/faq.html">FAQ</a>
        <a href="/riotjs/compiler.html">Guide</a>
        <a href="/riotjs/download.html">Download</a>
        <a href="/riotjs/forum/">Forum</a>
      </nav>

    </header>

    <main id="main">
      {{ content }}
    </main>

    <footer class="footer">
      <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>
    </footer>
  </div>

</body>


</html>
