<!doctype html>

{% capture nav %}
  <a href="/compare/">Compare</a>
  <a href="/play/">PLAY</a>
  <a href="/faq/">FAQ</a>
  <a href="/guide/">Guide</a>
  <a href="/api/">API</a>
  <a href="/download/">Download</a>
  <a target="_blank" href="/made-with-riot/">Showcase</a>
{% endcapture %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="theme-color" content="#FF0044">

  <title>
    {{ page.title }}{% if page.path != "index.md" %} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <!-- favicons -->
  <link rel="shortcut icon" href="/img/favicon-152x152.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152x152.png">

  <!-- RSS
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
  -->

  <!-- style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body id="{{ page.id }}" class="{{ page.class }}">

  <div class="wrap">
    {% include fork-on-github.html %}

    <header id="header">
      <span id="logo">
        <a href="/" title="riot.js"><img id="riot-logo" src="/img/logo/riot240x.png"></a>
      </span>

      <nav id="nav">
        {{ nav }}
      </nav>
    </header>

    <main id="main">
      {{ content }}
    </main>

  </div>

  <footer id="footer">
    <div class="wrap">
      <a href="/"><img class="logo" src="/img/logo/riot120x.png"></a>
      <nav>
        {{ nav }}
      </nav>
      <nav>
        <a href="/v2/">Riot v2</a>
        <a href="/forum/">Forum</a>
        <a target="_blank" href="https://pledgie.com/campaigns/31139">
          Buy us a coffee :coffee:
        </a>
      </nav>
      <nav class="extra">
        <a target="_blank" href="{{ site.repo }}"><img title="Riot on github" src="https://img.shields.io/badge/GITHUB-REPO_%E2%86%92-fc0e49.svg?style=flat-square"></a>
        <a target="_blank" href="{{ site.twitter_account }}"><img title="follow riot.js on twitter" src="https://img.shields.io/twitter/follow/riotjs_.svg?style=flat-square"></a>
        <a target="_blank" href="{{ site.gitter }}"><img title="Join the chat at https://gitter.im/riot/riot" src="https://img.shields.io/badge/GITTER-JOIN_CHAT_%E2%86%92-1dce73.svg?style=flat-square"></a>
      </nav>
    </div>
  </footer>

  <script src="/script.js"></script>

</body>


</html>
