<!doctype html>

{% capture nav %}
  <a href="/ja/compare/">比べてみる</a>
  <a href="/play/">試す</a>
  <a href="/ja/guide/">ガイド</a>
  <a href="/ja/api/">API</a>
  <a href="/ja/download/">ダウンロード</a>
  <a href="/ja/faq/">FAQ</a>
  <a target="_blank" href="/made-with-riot/">利用例</a>
{% endcapture %}

<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {{ page.title }}{% if page.path != "index.md" %} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <!-- favicons -->
  <link rel="shortcut icon" href="/img/favicon-152x152.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152x152.png">

  <!-- RSS
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
  -->

  <!-- style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body id="{{ page.id }}" class="{{ page.class }}">

  <div class="wrap">

    {% include fork-on-github.html %}

    <header id="header">
      <span id="logo">
        <a href="/ja/"><img id="riot-logo" src="/img/logo/riot120x.png"></a>
      </span>

      <nav id="nav">
        {{ nav }}
        <a id="current-lang" href="#"><i class="fa fa-globe"></i> ja</a>
      </nav>

      <nav id="langs">
        <a href="/"><span>en</span> latest</a>
        {% for lang in site.translations %}
          <a href="/v2/{{ lang[0] }}/"><span>{{ lang[0] }}</span> {{ lang[1] }}</a>
        {% endfor %}
      </nav>

    </header>

    <main id="main">
      {{ content }}
    </main>

  </div>

  <footer id="footer">
    <div class="wrap">
      <a href="/ja/"><img src="/img/logo/riot120x.png"></a>
      <nav>
        <a href="/"><span>en</span> latest</a>
        {% for lang in site.translations %}
          <a href="/{{ lang[0] }}/"><span>{{ lang[0] }}</span> {{ lang[1] }}</a>
        {% endfor %}
      </nav>
      <nav>{{ nav }}</nav>
    </div>
  </footer>

  <script src="/script.js"></script>

</body>


</html>
