<!doctype html>

{% capture nav %}
  <a href="/ru/compare/">Сравнение</a>
  <a href="/ru/faq/">ЧАВО</a>
  <a href="/ru/guide/">Учебник</a>
  <a href="/ru/api/">API</a>
  <a href="/ru/download/">Скачать</a>
  <a href="/ru/forum/">Форум</a>
{% endcapture %}

<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {{ page.title }}{% if page.path != "index.md" %} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <!-- favicons -->
  <link rel="shortcut icon" href="/img/favicon-152x152.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152x152.png">

  <!-- RSS
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
  -->

  <!-- style -->
  <link rel="stylesheet" href="/style.css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);
    html {
      font-family: 'Didact Gothic', sans-serif;
    }
  </style>
</head>

<body id="{{ page.id }}" class="{{ page.class }}">

  <div class="wrap">

    <a id="fork" href="{{ site.repo }}">Fork me on GitHub</a>

    <header id="header">
      <span id="logo">
        <a href="/ru/"><img id="riot-logo" src="/img/logo/riot120x.png"></a>
        <strong>by</strong>
        <a href="https://muut.com/"><img id="muut-logo" src="/img/logo/muut.png"></a>
      </span>

      <nav id="nav">
        {{ nav }}
        <a id="current-lang" href="#"><i class="fa fa-globe"></i> ru</a>
      </nav>

      <nav id="langs">
        <a href="/"><span>en</span> latest</a>
        {% for lang in site.translations %}
          <a href="/{{ lang[0] }}/"><span>{{ lang[0] }}</span> {{ lang[1] }}</a>
        {% endfor %}
      </nav>

    </header>

    <main id="main">
      {{ content }}
    </main>

  </div>

  <footer id="footer">
    <div class="wrap">
      <a href="/ru/"><img src="/img/logo/riot120x.png"></a>
      <nav>{{ nav }}</nav>
    </div>
  </footer>

  <script src="/script.js"></script>

</body>


</html>
