<!doctype html>

{% capture nav %}
  <a href="/v2/compare/">Compare</a>
  <a href="/v2/faq/">FAQ</a>
  <a href="/v2/guide/">Guide</a>
  <a href="/v2/api/">API</a>
  <a href="/v2/download/">Download</a>
  <a href="/v2/forum/">Forum</a>
  <a target="_blank" href="/made-with-riot/">Showcase</a>
{% endcapture %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="theme-color" content="#FF0044">

  <title>
    {{ page.title }}{% if page.path != "index.md" %} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <!-- favicons -->
  <link rel="shortcut icon" href="/img/favicon-152x152.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152x152.png">

  <!-- RSS
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
  -->

  <!-- style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body id="{{ page.id }}" class="{{ page.class }}">

  <div class="wrap">

    {% include fork-on-github.html %}

    <header id="header">
      <span id="logo">
        <a href="/v2" title="riot.js"><img id="riot-logo" src="/img/logo/riot120x.png"></a>
      </span>

      <nav id="nav">
        {{ nav }}
        <a id="current-lang" href="#"><i class="fa fa-globe"></i> en</a>
      </nav>

      <nav id="langs">
        <a href="/"><span>en</span> latest</a>
        {% for lang in site.translations %}
          <a href="/v2/{{ lang[0] }}/"><span>{{ lang[0] }}</span> {{ lang[1] }}</a>
        {% endfor %}
      </nav>

    </header>

    <main id="main">
      {{ content }}
    </main>

  </div>

  <footer id="footer">
    <div class="wrap">
      <a href="/"><img class="logo" src="/img/logo/riot120x.png"></a>
      <nav>
        <a href="/"><span>en</span> latest</a>
        {% for lang in site.translations %}
          <a href="/{{ lang[0] }}/"><span>{{ lang[0] }}</span> {{ lang[1] }}</a>
        {% endfor %}
      </nav>
      <nav>
        {{ nav }}
        <a target="_blank" href="https://opencollective.com/riot/">
          Buy us a coffee :coffee:
        </a>
      </nav>
      <nav class="extra">
        <a target="_blank" href="https://gitter.im/riot/riot"><img title="Join the chat at https://gitter.im/riot/riot" src="https://img.shields.io/badge/GITTER-JOIN_CHAT_%E2%86%92-1dce73.svg?style=flat-square"></a>
        <a target="_blank" href="https://twitter.com/riotjs_"><img title="follow riot.js on twitter" src="https://img.shields.io/twitter/follow/riotjs_.svg?style=social"></a>
      </nav>
    </div>
  </footer>

  <script src="/script.js"></script>

</body>


</html>
